body {
    background-color: red;
}

.mainContainer {
    display: block;
    text-align: center;
}

h1 {
    font-size: 4rem;
    font-style: bold;
    text-align: center;
    text-shadow: white 2px 2px;
}

#query {
    width: 30rem;
    height: 1.5rem;
    border-radius: 6px;
    font-size: 1rem;
    text-align: center;
}

.button {
    margin-top: 1rem;
    width: 10rem;
    height: 1.25em;
    font-size: 1rem;
}

#search-results {
    margin-top: 1rem;
    text-align: center;
    line-height: .5rem;
  
}
